@import "reset.postcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-black text-haze-offwhite;
		font-family: "Poppins";
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Noto Sans";
	}
}
